.bloop
.metals
.idea
.vscode
target/
project/metals.sbt
project/project/
project/target/
pwa/node_modules
pwa/package-lock.json
pwa/dist
pwa/*.zip
pwa/.eslintignore
pwa/.eslintrc.json
pwa/.DS_Store
.DS_Store
